demisto-sdk/demisto_sdk/commands/validate/validate_manager.py @idovandijk
demisto_sdk/commands/common/hook_validations/ @idovandijk

.vscode/ @jochman
.devcontainer/ @jochman

Pipfile* @dorschw
.circleci/ @dorschw

demisto_sdk/commands/test_content/timestamp_replacer.py @esharf
