# Validations
demisto-sdk/demisto_sdk/commands/validate/validate_manager.py @idovandijk @YuvHayun
demisto_sdk/commands/common/hook_validations/ @idovandijk @YuvHayun

# VS Code plugin
.vscode/ @ilaner
.devcontainer/ @ilaner

# CircleCI
.circleci/ @GuyAfik

# Github Actions
.github/workflows

# Dependencies
Pipfile* @GuyAfik
pyproject.toml @GuyAfik

# Pytest.ini
pytest.ini @GuyAfik

# Content graph
demisto_sdk/commands/content_graph/** @dantavori @ilaner

# Modeling rules
demisto_sdk/commands/test_content/test_modeling_rule/ @daryakoval

# Misc
demisto_sdk/__main__.py @GuyAfik
