exclude: ^tests/test_files/.*
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: demisto_sdk/tests/test_files/*
    -   id: end-of-file-fixer
        exclude: demisto_sdk/tests/test_files/*
    -   id: check-docstring-first
        exclude: demisto_sdk/tests/test_files/*
    -   id: check-json
    -   id: check-yaml
        exclude: demisto_sdk/tests/test_files/*
    -   id: debug-statements
        language_version: python3
    -   id: name-tests-test
        exclude: demisto_sdk/tests/test_files/*
    -   id: requirements-txt-fixer
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5
    hooks:
    -   id: autopep8
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    -   id: isort
