exclude: demisto_sdk/tests/test_files/.*|.circleci/config.yml|demisto_sdk/commands/.*/tests/test_files/.*
repos:
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.1.11
  hooks:
  - id: ruff
    args:
    - --fix
    - --exit-non-zero-on-fix
    - --show-fixes
- repo: https://github.com/python-poetry/poetry
  rev: 1.6.1
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
    files: ^pyproject.toml$
  - id: poetry-export
    args:
    - --with
    - typing
    - --without-hashes
    - -o
    - requirements.txt
- repo: https://github.com/demisto/demisto-sdk
  rev: v1.25.1
  hooks:
  - id: update-additional-dependencies
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.982
  hooks:
  - id: mypy
    exclude: tests/.*|demisto_sdk/commands/init/templates/.*
    additional_dependencies:
    - astroid==2.15.8 ; python_version >= "3.8" and python_version < "3.11"
    - attrs==23.2.0 ; python_version >= "3.8" and python_version < "3.11"
    - autopep8==2.0.4 ; python_version >= "3.8" and python_version < "3.11"
    - backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
    - bandit==1.7.7 ; python_version >= "3.8" and python_version < "3.11"
    - beautifulsoup4==4.12.3 ; python_version >= "3.8" and python_version < "3.11"
    - bracex==2.4 ; python_version >= "3.8" and python_version < "3.11"
    - cachetools==5.3.2 ; python_version >= "3.8" and python_version < "3.11"
    - certifi==2024.2.2 ; python_version >= "3.8" and python_version < "3.11"
    - cfgv==3.4.0 ; python_version >= "3.8" and python_version < "3.11"
    - chardet==5.2.0 ; python_version >= "3.8" and python_version < "3.11"
    - charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "3.11"
    - click==8.1.7 ; python_version >= "3.8" and python_version < "3.11"
    - colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.11"
    - coloredlogs==15.0.1 ; python_version >= "3.8" and python_version < "3.11"
    - commonmark==0.9.1 ; python_version >= "3.8" and python_version < "3.11"
    - configparser==5.3.0 ; python_version >= "3.8" and python_version < "3.11"
    - coverage==7.4.1 ; python_version >= "3.8" and python_version < "3.11"
    - dateparser==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
    - decorator==5.1.1 ; python_version >= "3.8" and python_version < "3.11"
    - demisto-py==3.2.14 ; python_version >= "3.8" and python_version < "3.11"
    - dictdiffer==0.9.0 ; python_version >= "3.8" and python_version < "3.11"
    - dictor==0.1.12 ; python_version >= "3.8" and python_version < "3.11"
    - dill==0.3.8 ; python_version >= "3.8" and python_version < "3.11"
    - distlib==0.3.8 ; python_version >= "3.8" and python_version < "3.11"
    - docker==5.0.3 ; python_version >= "3.8" and python_version < "3.11"
    - docopt==0.6.2 ; python_version >= "3.8" and python_version < "3.11"
    - filelock==3.13.1 ; python_version >= "3.8" and python_version < "3.11"
    - flatten-dict==0.4.2 ; python_version >= "3.8" and python_version < "3.11"
    - gitdb==4.0.11 ; python_version >= "3.8" and python_version < "3.11"
    - gitpython==3.1.42 ; python_version >= "3.8" and python_version < "3.11"
    - giturlparse==0.10.0 ; python_version >= "3.8" and python_version < "3.11"
    - google-api-core==2.17.1 ; python_version >= "3.8" and python_version < "3.11"
    - google-api-core[grpc]==2.17.1 ; python_version >= "3.8" and python_version < "3.11"
    - google-auth==2.28.0 ; python_version >= "3.8" and python_version < "3.11"
    - google-cloud-core==2.4.1 ; python_version >= "3.8" and python_version < "3.11"
    - google-cloud-secret-manager==2.18.1 ; python_version >= "3.8" and python_version < "3.11"
    - google-cloud-storage==2.14.0 ; python_version >= "3.8" and python_version < "3.11"
    - google-crc32c==1.5.0 ; python_version >= "3.8" and python_version < "3.11"
    - google-resumable-media==2.7.0 ; python_version >= "3.8" and python_version < "3.11"
    - googleapis-common-protos==1.62.0 ; python_version >= "3.8" and python_version < "3.11"
    - googleapis-common-protos[grpc]==1.62.0 ; python_version >= "3.8" and python_version < "3.11"
    - grpc-google-iam-v1==0.13.0 ; python_version >= "3.8" and python_version < "3.11"
    - grpcio-status==1.48.2 ; python_version >= "3.8" and python_version < "3.11"
    - grpcio==1.60.1 ; python_version >= "3.8" and python_version < "3.11"
    - humanfriendly==10.0 ; python_version >= "3.8" and python_version < "3.11"
    - identify==2.5.35 ; python_version >= "3.8" and python_version < "3.11"
    - idna==3.6 ; python_version >= "3.8" and python_version < "3.11"
    - imagesize==1.4.1 ; python_version >= "3.8" and python_version < "3.11"
    - importlib-resources==5.13.0 ; python_version >= "3.8" and python_version < "3.11"
    - inflection==0.5.1 ; python_version >= "3.8" and python_version < "3.11"
    - isort==5.13.2 ; python_version >= "3.8" and python_version < "3.11"
    - joblib==1.3.2 ; python_version >= "3.8" and python_version < "3.11"
    - json5==0.9.17 ; python_version >= "3.8" and python_version < "3.11"
    - jsonschema-specifications==2023.12.1 ; python_version >= "3.8" and python_version < "3.11"
    - jsonschema==4.21.1 ; python_version >= "3.8" and python_version < "3.11"
    - junitparser==3.1.1 ; python_version >= "3.8" and python_version < "3.11"
    - lazy-object-proxy==1.10.0 ; python_version >= "3.8" and python_version < "3.11"
    - lxml==5.1.0 ; python_version >= "3.8" and python_version < "3.11"
    - mccabe==0.7.0 ; python_version >= "3.8" and python_version < "3.11"
    - mergedeep==1.3.4 ; python_version >= "3.8" and python_version < "3.11"
    - more-itertools==9.1.0 ; python_version >= "3.8" and python_version < "3.11"
    - mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
    - mypy==0.982 ; python_version >= "3.8" and python_version < "3.11"
    - neo4j==5.17.0 ; python_version >= "3.8" and python_version < "3.11"
    - networkx==2.8.8 ; python_version >= "3.8" and python_version < "3.11"
    - nltk==3.8.1 ; python_version >= "3.8" and python_version < "3.11"
    - nodeenv==1.8.0 ; python_version >= "3.8" and python_version < "3.11"
    - orjson==3.9.14 ; python_version >= "3.8" and python_version < "3.11"
    - packaging==23.2 ; python_version >= "3.8" and python_version < "3.11"
    - pbr==6.0.0 ; python_version >= "3.8" and python_version < "3.11"
    - pebble==5.0.6 ; python_version >= "3.8" and python_version < "3.11"
    - pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
    - platformdirs==4.2.0 ; python_version >= "3.8" and python_version < "3.11"
    - pre-commit==3.5.0 ; python_version >= "3.8" and python_version < "3.11"
    - prettytable==3.10.0 ; python_version >= "3.8" and python_version < "3.11"
    - proto-plus==1.23.0 ; python_version >= "3.8" and python_version < "3.11"
    - protobuf==3.19.6 ; python_version >= "3.8" and python_version < "3.11"
    - pyasn1-modules==0.3.0 ; python_version >= "3.8" and python_version < "3.11"
    - pyasn1==0.5.1 ; python_version >= "3.8" and python_version < "3.11"
    - pycodestyle==2.11.1 ; python_version >= "3.8" and python_version < "3.11"
    - pydantic==1.10.14 ; python_version >= "3.8" and python_version < "3.11"
    - pygments==2.17.2 ; python_version >= "3.8" and python_version < "3.11"
    - pykwalify==1.8.0 ; python_version >= "3.8" and python_version < "3.11"
    - pylint==2.17.7 ; python_version >= "3.8" and python_version < "3.11"
    - pypdf2==1.28.6 ; python_version >= "3.8" and python_version < "3.11"
    - pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.8" and python_version < "3.11"
    - pyspellchecker==0.6.3 ; python_version >= "3.8" and python_version < "3.11"
    - python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.11"
    - python-dotenv==0.20.0 ; python_version >= "3.8" and python_version < "3.11"
    - pytz==2024.1 ; python_version >= "3.8" and python_version < "3.11"
    - pywin32==227 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
    - pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "3.11"
    - referencing==0.33.0 ; python_version >= "3.8" and python_version < "3.11"
    - regex==2023.12.25 ; python_version >= "3.8" and python_version < "3.11"
    - requests==2.31.0 ; python_version >= "3.8" and python_version < "3.11"
    - rich==12.6.0 ; python_version >= "3.8" and python_version < "3.11"
    - rpds-py==0.18.0 ; python_version >= "3.8" and python_version < "3.11"
    - rsa==4.9 ; python_version >= "3.8" and python_version < "3.11"
    - ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.8"
    - ruamel-yaml==0.17.40 ; python_version >= "3.8" and python_version < "3.11"
    - setuptools==69.1.0 ; python_version >= "3.8" and python_version < "3.11"
    - shellingham==1.5.4 ; python_version >= "3.8" and python_version < "3.11"
    - six==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
    - slack-sdk==3.27.0 ; python_version >= "3.8" and python_version < "3.11"
    - smmap==5.0.1 ; python_version >= "3.8" and python_version < "3.11"
    - soupsieve==2.5 ; python_version >= "3.8" and python_version < "3.11"
    - stevedore==5.1.0 ; python_version >= "3.8" and python_version < "3.11"
    - tabulate==0.9.0 ; python_version >= "3.8" and python_version < "3.11"
    - tenacity==8.2.3 ; python_version >= "3.8" and python_version < "3.11"
    - toml==0.10.2 ; python_version >= "3.8" and python_version < "3.11"
    - tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
    - tomlkit==0.12.3 ; python_version >= "3.8" and python_version < "3.11"
    - tqdm==4.66.2 ; python_version >= "3.8" and python_version < "3.11"
    - typer[all]==0.7.0 ; python_version >= "3.8" and python_version < "3.11"
    - types-dateparser==1.1.4.20240106 ; python_version >= "3.8" and python_version < "3.11"
    - types-decorator==5.1.8.20240106 ; python_version >= "3.8" and python_version < "3.11"
    - types-futures==3.3.8 ; python_version >= "3.8" and python_version < "3.11"
    - types-pkg-resources==0.1.3 ; python_version >= "3.8" and python_version < "3.11"
    - types-python-dateutil==2.8.19.20240106 ; python_version >= "3.8" and python_version < "3.11"
    - types-pytz==2024.1.0.20240203 ; python_version >= "3.8" and python_version < "3.11"
    - types-requests==2.28.11 ; python_version >= "3.8" and python_version < "3.11"
    - types-tabulate==0.9.0.20240106 ; python_version >= "3.8" and python_version < "3.11"
    - types-toml==0.10.8.7 ; python_version >= "3.8" and python_version < "3.11"
    - types-ujson==5.9.0.0 ; python_version >= "3.8" and python_version < "3.11"
    - types-urllib3==1.26.25.14 ; python_version >= "3.8" and python_version < "3.11"
    - typing-extensions==4.9.0 ; python_version >= "3.8" and python_version < "3.11"
    - tzdata==2024.1 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Windows"
    - tzlocal==5.2 ; python_version >= "3.8" and python_version < "3.11"
    - ujson==5.9.0 ; python_version >= "3.8" and python_version < "3.11"
    - urllib3==2.0.7 ; python_version >= "3.8" and python_version < "3.11"
    - virtualenv==20.25.0 ; python_version >= "3.8" and python_version < "3.11"
    - wcmatch==8.5 ; python_version >= "3.8" and python_version < "3.11"
    - wcwidth==0.2.13 ; python_version >= "3.8" and python_version < "3.11"
    - websocket-client==1.7.0 ; python_version >= "3.8" and python_version < "3.11"
    - wrapt==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
    - zipp==3.17.0 ; python_version >= "3.8" and python_version < "3.10"
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    args:
    - --markdown-linebreak-ext=md
  - id: end-of-file-fixer
  - id: check-docstring-first
    exclude: demisto_sdk/commands/init/templates/.*
  - id: check-json
    exclude: .vscode/.*|setup_env/.*
  - id: check-yaml
    language_version: python3
  - id: name-tests-test
    exclude: test_tools.py|demisto_sdk/commands/download/tests/tests_env/.*|demisto_sdk/commands/create_artifacts/tests/data|demisto_sdk/commands/common/content/tests/objects/pack_objects/script/script_test/TestNotUnifiedScript|demisto_sdk/commands/common/content/tests/objects/pack_objects/integration/integration_test/TestNotUnifiedIntegration|demisto_sdk/commands/test_content/tests/DemistoClientMock
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject
