exclude: demisto_sdk/tests/test_files/.*|.circleci/config.yml|demisto_sdk/commands/.*/tests/test_files/.*
repos:
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.1.11
  hooks:
  - id: ruff
    args:
    - --fix
    - --exit-non-zero-on-fix
    - --show-fixes
- repo: https://github.com/python-poetry/poetry
  rev: 1.6.1
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
    files: ^pyproject.toml$
  - id: poetry-export
    args:
    - --without-hashes
    - -o
    - requirements.txt
- repo: https://github.com/demisto/demisto-sdk
  rev: v1.25.1
  hooks:
  - id: update-additional-dependencies
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.982
  hooks:
  - id: mypy
    exclude: tests/.*|demisto_sdk/commands/init/templates/.*
    additional_dependencies:
    - astroid==2.9.3 ; python_version >= "3.8" and python_version <= "3.12"
    - attrs==23.1.0 ; python_version >= "3.8" and python_version <= "3.12"
    - autopep8==1.7.0 ; python_version >= "3.8" and python_version <= "3.12"
    - backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
    - bandit==1.7.5 ; python_version >= "3.8" and python_version <= "3.12"
    - bcrypt==4.0.1 ; python_version >= "3.8" and python_version <= "3.12"
    - beautifulsoup4==4.12.2 ; python_version >= "3.8" and python_version <= "3.12"
    - bracex==2.3.post1 ; python_version >= "3.8" and python_version <= "3.12"
    - cachetools==5.3.0 ; python_version >= "3.8" and python_version <= "3.12"
    - certifi==2023.7.22 ; python_version >= "3.8" and python_version <= "3.12"
    - cffi==1.15.1 ; python_version >= "3.8" and python_version <= "3.12"
    - cfgv==3.3.1 ; python_version >= "3.8" and python_version <= "3.12"
    - chardet==5.1.0 ; python_version >= "3.8" and python_version <= "3.12"
    - charset-normalizer==3.1.0 ; python_version >= "3.8" and python_version <= "3.12"
    - click==8.1.3 ; python_version >= "3.8" and python_version <= "3.12"
    - colorama==0.4.6 ; python_version >= "3.8" and python_version <= "3.12"
    - coloredlogs==15.0.1 ; python_version >= "3.8" and python_version <= "3.12"
    - commonmark==0.9.1 ; python_version >= "3.8" and python_version <= "3.12"
    - configparser==5.3.0 ; python_version >= "3.8" and python_version <= "3.12"
    - coverage==7.2.5 ; python_version >= "3.8" and python_version <= "3.12"
    - cryptography==36.0.2 ; python_version >= "3.8" and python_version <= "3.12"
    - dateparser==1.1.8 ; python_version >= "3.8" and python_version <= "3.12"
    - decorator==5.1.1 ; python_version >= "3.8" and python_version <= "3.12"
    - demisto-py==3.2.10 ; python_version >= "3.8" and python_version <= "3.12"
    - dictdiffer==0.9.0 ; python_version >= "3.8" and python_version <= "3.12"
    - dictor==0.1.11 ; python_version >= "3.8" and python_version <= "3.12"
    - distlib==0.3.6 ; python_version >= "3.8" and python_version <= "3.12"
    - docker==5.0.3 ; python_version >= "3.8" and python_version <= "3.12"
    - docopt==0.6.2 ; python_version >= "3.8" and python_version <= "3.12"
    - exceptiongroup==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
    - filelock==3.12.0 ; python_version >= "3.8" and python_version <= "3.12"
    - flatten-dict==0.4.2 ; python_version >= "3.8" and python_version <= "3.12"
    - freezegun==1.2.2 ; python_version >= "3.8" and python_version <= "3.12"
    - future==0.18.3 ; python_version >= "3.8" and python_version <= "3.12"
    - gitdb==4.0.10 ; python_version >= "3.8" and python_version <= "3.12"
    - gitpython==3.1.37 ; python_version >= "3.8" and python_version <= "3.12"
    - giturlparse==0.10.0 ; python_version >= "3.8" and python_version <= "3.12"
    - google-api-core==2.11.0 ; python_version >= "3.8" and python_version <= "3.12"
    - google-api-core[grpc]==2.11.0 ; python_version >= "3.8" and python_version <= "3.12"
    - google-auth==2.23.4 ; python_version >= "3.8" and python_version <= "3.12"
    - google-cloud-core==2.3.2 ; python_version >= "3.8" and python_version <= "3.12"
    - google-cloud-secret-manager==2.16.4 ; python_version >= "3.8" and python_version <= "3.12"
    - google-cloud-storage==2.13.0 ; python_version >= "3.8" and python_version <= "3.12"
    - google-crc32c==1.5.0 ; python_version >= "3.8" and python_version <= "3.12"
    - google-resumable-media==2.6.0 ; python_version >= "3.8" and python_version <= "3.12"
    - googleapis-common-protos==1.59.0 ; python_version >= "3.8" and python_version <= "3.12"
    - googleapis-common-protos[grpc]==1.59.0 ; python_version >= "3.8" and python_version <= "3.12"
    - grpc-google-iam-v1==0.12.7 ; python_version >= "3.8" and python_version <= "3.12"
    - grpcio-status==1.48.2 ; python_version < "3.11" and python_version >= "3.8"
    - grpcio==1.59.2 ; python_full_version <= "3.12.0" and python_version >= "3.8"
    - humanfriendly==10.0 ; python_version >= "3.8" and python_version <= "3.12"
    - identify==2.5.24 ; python_version >= "3.8" and python_version <= "3.12"
    - idna==3.4 ; python_version >= "3.8" and python_version <= "3.12"
    - imagesize==1.4.1 ; python_version >= "3.8" and python_version <= "3.12"
    - importlib-resources==5.12.0 ; python_version >= "3.8" and python_version <= "3.12"
    - inflection==0.5.1 ; python_version >= "3.8" and python_version <= "3.12"
    - iniconfig==2.0.0 ; python_version >= "3.8" and python_version <= "3.12"
    - isort==5.12.0 ; python_version >= "3.8" and python_version <= "3.12"
    - joblib==1.2.0 ; python_version >= "3.8" and python_version <= "3.12"
    - json5==0.9.14 ; python_version >= "3.8" and python_version <= "3.12"
    - jsonschema==4.17.3 ; python_version >= "3.8" and python_version <= "3.12"
    - junitparser==3.1.0 ; python_version >= "3.8" and python_version <= "3.12"
    - lazy-object-proxy==1.9.0 ; python_version >= "3.8" and python_version <= "3.12"
    - lxml==5.1.0 ; python_version >= "3.8" and python_version <= "3.12"
    - mccabe==0.6.1 ; python_version >= "3.8" and python_version <= "3.12"
    - mergedeep==1.3.4 ; python_version >= "3.8" and python_version <= "3.12"
    - more-itertools==9.1.0 ; python_version >= "3.8" and python_version <= "3.12"
    - mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version <= "3.12"
    - mypy==0.982 ; python_version >= "3.8" and python_version <= "3.12"
    - neo4j==5.14.1 ; python_version >= "3.8" and python_version <= "3.12"
    - networkx==2.8.8 ; python_version >= "3.8" and python_version <= "3.12"
    - nltk==3.8.1 ; python_version >= "3.8" and python_version <= "3.12"
    - nodeenv==1.7.0 ; python_version >= "3.8" and python_version <= "3.12"
    - ordered-set==4.1.0 ; python_version >= "3.8" and python_version <= "3.12"
    - orjson==3.8.11 ; python_version >= "3.8" and python_version <= "3.12"
    - packaging==23.1 ; python_version >= "3.8" and python_version <= "3.12"
    - paramiko==2.12.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pbr==5.11.1 ; python_version >= "3.8" and python_version <= "3.12"
    - pebble==5.0.3 ; python_version >= "3.8" and python_version <= "3.12"
    - pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
    - platformdirs==3.5.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pluggy==1.0.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pre-commit==3.5.0 ; python_version >= "3.8" and python_version <= "3.12"
    - prettytable==3.7.0 ; python_version >= "3.8" and python_version <= "3.12"
    - proto-plus==1.22.3 ; python_version >= "3.8" and python_version <= "3.12"
    - protobuf==3.19.6 ; python_version >= "3.8" and python_version <= "3.12"
    - pyasn1-modules==0.3.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pyasn1==0.5.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pycodestyle==2.10.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pycparser==2.21 ; python_version >= "3.8" and python_version <= "3.12"
    - pydantic==1.10.7 ; python_version >= "3.8" and python_version <= "3.12"
    - pygments==2.15.1 ; python_version >= "3.8" and python_version <= "3.12"
    - pykwalify==1.8.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pylint==2.12.2 ; python_version >= "3.8" and python_version <= "3.12"
    - pynacl==1.5.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pypdf2==1.28.6 ; python_version >= "3.8" and python_version <= "3.12"
    - pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.8" and python_version <= "3.12"
    - pyrsistent==0.19.3 ; python_version >= "3.8" and python_version <= "3.12"
    - pyspellchecker==0.6.3 ; python_version >= "3.8" and python_version <= "3.12"
    - pytest-freezegun==0.4.2 ; python_version >= "3.8" and python_version <= "3.12"
    - pytest==7.3.1 ; python_version >= "3.8" and python_version <= "3.12"
    - python-dateutil==2.8.2 ; python_version >= "3.8" and python_version <= "3.12"
    - python-dotenv==0.20.0 ; python_version >= "3.8" and python_version <= "3.12"
    - pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.8" and python_version <= "3.12"
    - pytz==2023.3 ; python_version >= "3.8" and python_version <= "3.12"
    - pywin32==227 ; python_version >= "3.8" and python_version <= "3.12" and sys_platform == "win32"
    - pyyaml==6.0 ; python_version >= "3.8" and python_version <= "3.12"
    - regex==2023.5.5 ; python_version >= "3.8" and python_version <= "3.12"
    - requests==2.29.0 ; python_version >= "3.8" and python_version <= "3.12"
    - rich==12.6.0 ; python_version >= "3.8" and python_version <= "3.12"
    - rsa==4.7.2 ; python_version >= "3.8" and python_version <= "3.12"
    - ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.8"
    - ruamel-yaml==0.17.22 ; python_version >= "3.8" and python_version <= "3.12"
    - setuptools==67.7.2 ; python_version >= "3.8" and python_version <= "3.12"
    - shellingham==1.5.0.post1 ; python_version >= "3.8" and python_version <= "3.12"
    - six==1.16.0 ; python_version >= "3.8" and python_version <= "3.12"
    - slack-sdk==3.21.3 ; python_version >= "3.8" and python_version <= "3.12"
    - smmap==5.0.0 ; python_version >= "3.8" and python_version <= "3.12"
    - soupsieve==2.4.1 ; python_version >= "3.8" and python_version <= "3.12"
    - stevedore==5.0.0 ; python_version >= "3.8" and python_version <= "3.12"
    - tabulate==0.9.0 ; python_version >= "3.8" and python_version <= "3.12"
    - tenacity==8.2.3 ; python_version >= "3.8" and python_version <= "3.12"
    - toml==0.10.2 ; python_version >= "3.8" and python_version <= "3.12"
    - tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
    - tqdm==4.65.0 ; python_version >= "3.8" and python_version <= "3.12"
    - typed-ast==1.5.4 ; python_version >= "3.8" and python_version <= "3.12"
    - typer[all]==0.7.0 ; python_version >= "3.8" and python_version <= "3.12"
    - types-chardet==5.0.4.5 ; python_version >= "3.8" and python_version <= "3.12"
    - types-cryptography==3.3.23.2 ; python_version >= "3.8" and python_version <= "3.12"
    - types-dateparser==1.1.4.9 ; python_version >= "3.8" and python_version <= "3.12"
    - types-decorator==5.1.8.3 ; python_version >= "3.8" and python_version <= "3.12"
    - types-emoji==2.1.0.3 ; python_version >= "3.8" and python_version <= "3.12"
    - types-filelock==3.2.7 ; python_version >= "3.8" and python_version <= "3.12"
    - types-futures==3.3.8 ; python_version >= "3.8" and python_version <= "3.12"
    - types-ipaddress==1.0.8 ; python_version >= "3.8" and python_version <= "3.12"
    - types-markdown==3.4.2.8 ; python_version >= "3.8" and python_version <= "3.12"
    - types-mock==4.0.15.2 ; python_version >= "3.8" and python_version <= "3.12"
    - types-paramiko==2.12.0.1 ; python_version >= "3.8" and python_version <= "3.12"
    - types-pkg-resources==0.1.3 ; python_version >= "3.8" and python_version <= "3.12"
    - types-protobuf==4.24.0.4 ; python_version >= "3.8" and python_version <= "3.12"
    - types-pymysql==1.0.19.6 ; python_version >= "3.8" and python_version <= "3.12"
    - types-python-dateutil==2.8.19.12 ; python_version >= "3.8" and python_version <= "3.12"
    - types-pytz==2022.7.1.2 ; python_version >= "3.8" and python_version <= "3.12"
    - types-pyvmomi==8.0.0.1 ; python_version >= "3.8" and python_version <= "3.12"
    - types-pyyaml==6.0.12.9 ; python_version >= "3.8" and python_version <= "3.12"
    - types-requests==2.28.11 ; python_version >= "3.8" and python_version <= "3.12"
    - types-setuptools==67.7.0.1 ; python_version >= "3.8" and python_version <= "3.12"
    - types-six==1.16.21.8 ; python_version >= "3.8" and python_version <= "3.12"
    - types-tabulate==0.9.0.2 ; python_version >= "3.8" and python_version <= "3.12"
    - types-toml==0.10.8.7 ; python_version >= "3.8" and python_version <= "3.12"
    - types-ujson==5.7.0.5 ; python_version >= "3.8" and python_version <= "3.12"
    - types-urllib3==1.26.25.12 ; python_version >= "3.8" and python_version <= "3.12"
    - typing-extensions==4.5.0 ; python_version >= "3.8" and python_version <= "3.12"
    - tzdata==2023.3 ; python_version >= "3.8" and python_version <= "3.12"
    - tzlocal==4.3 ; python_version >= "3.8" and python_version <= "3.12"
    - ujson==5.7.0 ; python_version >= "3.8" and python_version <= "3.12"
    - urllib3==1.26.15 ; python_version >= "3.8" and python_version <= "3.12"
    - virtualenv==20.23.0 ; python_version >= "3.8" and python_version <= "3.12"
    - vulture==2.7 ; python_version >= "3.8" and python_version <= "3.12"
    - wcmatch==8.4.1 ; python_version >= "3.8" and python_version <= "3.12"
    - wcwidth==0.2.6 ; python_version >= "3.8" and python_version <= "3.12"
    - websocket-client==1.5.1 ; python_version >= "3.8" and python_version <= "3.12"
    - wrapt==1.13.3 ; python_version >= "3.8" and python_version <= "3.12"
    - yamlordereddictloader==0.4.0 ; python_version >= "3.8" and python_version <= "3.12"
    - zipp==3.15.0 ; python_version >= "3.8" and python_version < "3.10"
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    args:
    - --markdown-linebreak-ext=md
  - id: end-of-file-fixer
  - id: check-docstring-first
    exclude: demisto_sdk/commands/init/templates/.*
  - id: check-json
    exclude: .vscode/.*|setup_env/.*
  - id: check-yaml
    language_version: python3
  - id: name-tests-test
    exclude: test_tools.py|demisto_sdk/commands/download/tests/tests_env/.*|demisto_sdk/commands/create_artifacts/tests/data|demisto_sdk/commands/common/content/tests/objects/pack_objects/script/script_test/TestNotUnifiedScript|demisto_sdk/commands/common/content/tests/objects/pack_objects/integration/integration_test/TestNotUnifiedIntegration|demisto_sdk/commands/test_content/tests/DemistoClientMock
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.13
  hooks:
  - id: validate-pyproject
