exclude: ^tests/test_files/.*
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: demisto_sdk/tests/test_files/*
    -   id: end-of-file-fixer
        exclude: demisto_sdk/tests/test_files/*
    -   id: check-docstring-first
        exclude: demisto_sdk/tests/test_files/*
    -   id: check-json
    -   id: check-yaml
        exclude: demisto_sdk/tests/test_files/*|\.circleci/config\.yml
    -   id: debug-statements
        language_version: python3
    -   id: name-tests-test
        exclude: demisto_sdk/tests/test_files/*|test_tools.py|demisto_sdk/commands/download/tests/tests_env/*|demisto_sdk/commands/create_artifacts/tests/data
    -   id: requirements-txt-fixer
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5
    hooks:
    -   id: autopep8
-   repo: https://github.com/timothycrosley/isort
    rev: 4.3.21-2
    hooks:
    -   id: isort
        args: [--diff]
        types: [file, python, text]
        verbose: true
-   repo: https://github.com/timothycrosley/isort
    rev: 4.3.21-2
    hooks:
    -   id: isort
        args: [--check-only]
        verbose: true
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.4.1
    hooks:
    -   id: pyupgrade
        exclude: demisto_sdk/tests/test_files/*|test_tools.py|demisto_sdk/commands/download/tests/tests_env/*
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.782
    hooks:
    -   id: mypy
        exclude: "(demisto_sdk.*/tests/.*|test_tools.py|demisto_sdk/commands/init/templates/HelloWorld/.*)"
