[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "*"
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
vulture = "*"
flake8 = "*"
bs4 = "*"
chardet = "==3.0.2"
click = "==7.1.2"
colorama = "*"
coloredlogs = "*"
configparser = "*"
coverage = "*"
dateparser = "*"
decorator = "*"
demisto-py = ">=3.1.1"
dictor = "*"
docker = "==4.3.0"
flatten-dict = "*"
gitdb = "*"
google-cloud-storage = "==1.29.0"
inflection = "==0.5.1"
isort = "*"
jsonschema = "*"
mergedeep = "*"
networkx = "*"
nltk = "*"
pipenv = "*"
prettytable = "==0.7.2"
pykwalify = "*"
pyspellchecker = "*"
requests = "*"
"ruamel.yaml" = "*"
slackclient = "==2.9.3"
tabulate = "*"
ujson = "*"
urllib3 = "*"
wcmatch = "*"
yamlordereddictloader = "*"
GitPython = "*"
Jinja2 = "<3.0,>=2.11.1"
Pebble = "*"
PyPDF2 = "*"
giturlparse = "*"
pytest-freezegun = "*"
python-dotenv = "*"
importlib-resources = "*"
dictdiffer = "*"
setuptools = "*"
markupsafe = "==2.0.1"
imagesize = "*"
cryptography = "*"
typed-ast = "*"
types-dateparser="*"
types-pyyaml="*"
types-requests="==2.26.3"# This is an open issue https://github.com/python/typeshed/issues/6893
types-pytz="*"
types-python-dateutil="*"
types-pyvmomi="*"
types-tabulate="*"
types-paramiko="*"
types-emoji="*"
types-ipaddress="*"
types-chardet="*"
types-six="*"
types-PyMySQL="*"
types-protobuf="*"


[dev-packages]
mitmproxy = "==5.1.0"
mock = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-datadir-ng = "*"
pytest-mock = "*"
pytest-subprocess = "*"
requests-mock = "*"
tox-pyenv = "*"
Deprecated = "*"
pipfile-requirements = "*"

[requires]
python_version = "3.10"
