[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = ">=2.4.2,<2.5.4"
autopep8 = "*"
bandit = "*"
bs4 = "*"
chardet = "==3.0.2"
click = "==7.1.2"
colorama = "*"
coloredlogs = "*"
configparser = "*"
coverage = "*"
dateparser = "*"
decorator = "*"
demisto-py = "*"
dictor = "*"
docker = "==4.3.0"
flake8 = "*"
flatten-dict = "*"
gitdb = "*"
google-cloud-storage = "==1.29.0"
inflection = "==0.5.1"
isort = "*"
jsonschema = "*"
mergedeep = "*"
mypy = "==0.782"
networkx = "*"
nltk = "*"
pandas = "*"
pipenv = "*"
prettytable = "==0.7.2"
pykwalify = "*"
pylint = "==2.6.0"
pyspellchecker = "*"
requests = "*"
"ruamel.yaml" = "<0.17"
slackclient = "==2.9.3"
tabulate = "*"
ujson = "*"
urllib3 = "*"
vulture = "*"
wcmatch = "*"
yamlordereddictloader = "*"
GitPython = "*"
Jinja2 = "<3.0,>=2.11.1"
Pebble = "*"
PyPDF2 = "*"
PyYAML = "*"
Pillow = "==8.2.0"

[dev-packages]
mitmproxy = "==5.1.0"
mock = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-datadir-ng = "*"
pytest-mock = "*"
pytest-subprocess = "*"
requests-mock = "*"
tox-pyenv = "*"
Deprecated = "*"
pipfile-requirements = "*"

[requires]
python_version = "3.9"
