[tool.poetry]
name = "demisto-sdk"
version = "1.6.2"
description = "\"A Python library for the Demisto SDK\""
authors = ["Demisto"]
license = "MIT"
classifiers=[
    'Intended Audience :: Developers',
    'Natural Language :: English',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: Implementation :: CPython'
]

[tool.poetry.scripts]
demisto-sdk = "demisto_sdk.__main__:main"

[tool.poetry.dependencies]
python = "^3.8"
astroid = "2.4.*"
autopep8 = "^1.6.0"
bandit = "^1.7.4"
bs4 = "^0.0.1"
chardet = "^4.0.0"
click = "^8.0.4"
colorama = "^0.4.4"
coloredlogs = "^15.0.1"
configparser = "^5.2.0"
coverage = "^6.3.2"
decorator = "^5.1.1"
demisto-py = "^3.1.3"
dictor = "^0.1.9"
docker = "4.3.0"
flake8 = "^4.0.1"
flatten-dict = "^0.4.2"
gitdb = "^4.0.9"
google-cloud-storage = "^2.2.1"
inflection = "^0.5.1"
isort = "^5.10.1"
jsonschema = "^4.4.0"
mergedeep = "^1.3.4"
mypy = "^0.942"
networkx = "^2.7.1"
nltk = "^3.7"
pipenv = "^2022.3.24"
prettytable = "^3.2.0"
pykwalify = "^1.8.0"
pylint = "2.6.*"
pyspellchecker = "^0.6.3"
requests = "^2.27.1"
"ruamel.yaml" = "^0.17.21"
slackclient = "^2.9.3"
tabulate = "^0.8.9"
ujson = "^5.1.0"
urllib3 = "^1.26.9"
vulture = "^2.3"
wcmatch = "^8.3"
yamlordereddictloader = "^0.4.0"
GitPython = "^3.1.27"
Jinja2 = "^3.1.1"
Pebble = "^4.6.3"
PyPDF2 = "^1.26.0"
giturlparse = "^0.10.0"
pytest-freezegun = "^0.4.2"
python-dotenv = "^0.20.0"
importlib-resources = "^5.6.0"
dictdiffer = "^0.9.0"
setuptools = "^61.1.1"
MarkupSafe = "^2.1.1"
imagesize = "^1.3.0"
dateparser = "^1.1.1"

[tool.poetry.dev-dependencies]
mitmproxy = "^8.0.0"
mock = "^4.0.3"
pre-commit = "^2.17.0"
pytest = "^7.1.1"
pytest-cov = "^3.0.0"
pytest-datadir-ng = "^1.1.1"
pytest-mock = "^3.7.0"
pytest-subprocess = "^1.4.1"
requests-mock = "^1.9.3"
Deprecated = "^1.2.13"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
