[tool.poetry]
name = "demisto-sdk"
version = "1.10.1"
description = "\"A Python library for the Demisto SDK\""
authors = ["Demisto"]
license = "MIT"
readme = "README.md"
classifiers=[
    'Intended Audience :: Developers',
    'Natural Language :: English',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: Implementation :: CPython'
]
exclude = ["TestSuite/**", "*/tests/*", "tests"]

[tool.poetry.scripts]
demisto-sdk = "demisto_sdk.__main__:main"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
autopep8 = "^1.6.0"
bandit = "^1.7.4"
mypy = "^0.982"
pylint = "2.12.2"
vulture = "^2.3"
beautifulsoup4 = "^4.11.1"
flake8 = "^4.0.1"
chardet = ">=4,<6"
click = "^8.0.0"
colorama = "^0.4.4"
coloredlogs = "^15.0.1"
configparser = "^5.2.0"
coverage = "6.3.2"
decorator = "^5.1.1"
demisto-py = "^3.2.6"
dictor = "^0.1.9"
docker = "^5.0.3"
flatten-dict = "^0.4.2"
gitdb = "^4.0.9"
google-cloud-storage = "^2.2.1"
inflection = "^0.5.1"
isort = "^5.10.1"
jsonschema = "^4.4.0"
mergedeep = "^1.3.4"
networkx = "^2.7.1"
nltk = "^3.7"
pipenv = "^2022.3.28"
prettytable = "^3.2.0"
pykwalify = "^1.8.0"
pyspellchecker = "^0.6.3"
requests = "^2.27.1"
"ruamel.yaml" = "^0.17.21"
slackclient = "^2.9.3"
tabulate = ">=0.8.9,<0.10.0"
ujson = "^5.1.0"
urllib3 = "^1.26.9"
wcmatch = "^8.3"
yamlordereddictloader = "^0.4.0"
GitPython = "^3.1.27"
Jinja2 = "^3.1.1"
Pebble = ">=4.6.3,<6.0.0"
PyPDF2 = "^1.28.6"
giturlparse = "^0.10.0"
pytest-freezegun = "^0.4.2"
python-dotenv = "^0.20.0"
importlib-resources = "^5.6.0"
dictdiffer = "^0.9.0"
MarkupSafe = "^2.1.1"
imagesize = "^1.3.0"
cryptography = "^36.0.2"
dateparser = "^1.1.1"
typed-ast = "^1.5.2"
types-dateparser = "^1.1.0"
types-PyYAML = "^6.0.5"
types-requests = "2.28.11"
types-pytz = ">=2021.3.6,<2023.0.0"
types-python-dateutil = "^2.8.10"
types-pyvmomi = ">=7.0.6,<9.0.0"
types-tabulate = ">=0.8.6,<0.10.0"
types-paramiko = "^2.8.17"
types-emoji = ">=1.2.7,<3.0.0"
types-ipaddress = "^1.0.8"
types-chardet = ">=4.0.3,<6.0.0"
types-six = "^1.16.12"
types-PyMySQL = "^1.0.15"
types-protobuf = "^3.19.15"
typing-extensions = "^4.1.1"
gsutil = {version = "5.17", optional = true}
klara = "^0.6.3"
ordered-set = "^4.1.0"
types-filelock = "^3.2.5"
types-Markdown = "^3.3.21"
types-futures = "^3.3.8"
paramiko = "^2.11.0"
neo4j = "^4.4.8"
pydantic = "^1.10"
types-decorator = "^5.1.8"
types-mock = "^4.0.15"
types-setuptools = ">=65.6.0.1,<68.0.0.0"
types-ujson = "^5.6.0.0"
typer = {extras = ["all"], version = ">=0.6.1,<0.8.0"}
types-pkg-resources = "^0.1.3"
packaging = "<22"
orjson = "^3.8.3"

[tool.poetry.dev-dependencies]
mitmproxy = "^8.0.0"
mock = "^4.0.3"
pre-commit = "^2.18.1"
pytest = "^7.1.1"
pytest-cov = "^4.0.0"
pytest-datadir-ng = "^1.1.1"
pytest-mock = "^3.7.0"
pytest-subprocess = "^1.4.1"
requests-mock = "^1.9.3"
Deprecated = "^1.2.13"
slack-sdk = "^3.17.0"
pycln = "^2.1.1"
black = "^22.10.0"
ipykernel = "^6.16.1"


[tool.poetry.extras]
build = ["gsutil"]

[tool.mypy]
check_untyped_defs = true
ignore_missing_imports = true
python_version = "3.8"
show_error_codes = true
follow_imports = "silent"
pretty = true
allow_redefinition = true
exclude = "tests/.*|demisto_sdk/commands/init/templates/.*"

[tool.vulture]
exclude = ["*/tests/*"]
min_confidence = 80
paths = ["demisto_sdk", "TestSuite"]
sort_by_size = true

[tool.isort]
atomic = true
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
