bandit>=1.6.2
bs4>=0.0.1
click>=7.0
dateparser>=0.7.2
demisto-py>=2.0.7
docker>=4.2.0
flake8>=3.7.9
gitpython>=3.1.0
isort>=4.3.21
jinja2>=2.11.1
mypy>=0.761
networkx>=2.4
pipenv==2018.11.26
pykwalify>=1.7.0
PyPDF2>=1.26.0
PyYAML>=5.3.1
requests>=2.22.0
ruamel.yaml>=0.16.5
urllib3>=1.25.7
vulture>=1.3
wcmatch>=5.1
yamlordereddictloader>=0.4.0
