astroid~=2.4.2
autopep8~=1.5.4
beautifulsoup4~=4.9.3
bs4~=0.0.1
click~=7.1.2
colorama~=0.4.1
coloredlogs~=15.0
configparser~=5.0.0
coverage~=5.5
dateparser~=0.7.6
decorator~=4.4.2
dictor~=0.1.7
docker~=4.3.0
freezegun~=0.3.12
gitdb~=4.0.5
giturlparse~=0.10.0
inflection~=0.5.1
Jinja2~=2.11.2
jsonschema~=3.2.0
mergedeep~=1.3.0
mock~=4.0.3
networkx~=2.5
nltk~=3.6.5
packaging~=20.4
pandas~=1.2.0
Pebble~=4.5.3
pipenv~=2020.11.15
prettytable~=0.7.2
pykwalify~=1.7.0
pylint~=2.6.0
PyPDF2~=1.26.0
pytest~=6.2.1
python-dateutil~=2.8.1
pytz~=2020.1
PyYAML~=5.3.1
requests~=2.22.0
scikit-learn~=0.24.2
setuptools~=47.1.0
tabulate~=0.8.7
ujson~=4.0.2
urllib3~=1.25.10
wcmatch~=7.1
yamlordereddictloader~=0.4.0
