### =============================================================
### This configuration file is used by CircleCI build server
### https://circleci.com/docs/config-sample
### =============================================================
version: 2.1
references:
    tag_filter: &tag_filter
      filters:
        tags:
          only: /^v\d+\.\d+\.\d+$/

    reqs_print_var: &reqs_print_var
      requires:
        - print-env-vars

    reqs_tox: &reqs_tox
      requires:
        - tox3-7

    restore_cache: &restore_cache
      restore_cache:
        key: tox-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}-{{ checksum "tox.ini" }}

jobs:
  print-env-vars:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - run:
            name: Print environment variables
            command: |
              echo "Parameters: FAKE_MASTER: $FAKE_MASTER"
              echo "Parameters: CONTENT_BRANCH_NAME: $CONTENT_BRANCH_NAME"
  tox3-7:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - *restore_cache
        - run:
            name: Tox build
            command: |
              pip install tox
              tox -e py37 -v -- --cov=demisto_sdk --cov-report=html
        - store_artifacts:
            path: coverage_html_report
        - save_cache:
            paths:
              - .tox
            key: tox-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}-{{ checksum "tox.ini" }}
  tox3-8:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - run:
            name: Tox build
            command: |
              pip install tox
              tox -e py38 -v
  precommit-checks:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - *restore_cache
        - run:
            name: Pre-commit
            command: |
              . .tox/py37/bin/activate
              pre-commit --version
              pre-commit run -a
              deactivate
        - store_artifacts:
            path: coverage_html_report
  coveralls-check:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - run:
            name: Coveralls upload
            command: |
              if [ -n "$COVERALLS_REPO_TOKEN" ]; then
                pip install coveralls
                coveralls
              else
                echo "Skipping coveralls"
              fi
  validate-files:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - *restore_cache
        - run:
            name: Test validate files and yaml
            when: always
            command: |
              . .tox/py37/bin/activate
              git clone https://github.com/demisto/content.git
              cd content
              git config diff.renameLimit 5000

              if [[ $CIRCLE_BRANCH != master && $FAKE_MASTER != true && -z "${CONTENT_BRANCH_NAME}" ]]; then
                demisto-sdk validate -i Packs/dnstwist
                exit 0
              fi

              if [ -n "${CONTENT_BRANCH_NAME}" ]; then
                git checkout ${CONTENT_BRANCH_NAME}
              fi

              if [[ $FAKE_MASTER = true ]]; then
                export CIRCLE_BRANCH="master"
              fi

              python3 ./Tests/scripts/update_conf_json.py
              ./Tests/scripts/validate.sh
  create-id-set:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - *restore_cache
        - run:
            name: Test create ID set
            when: always
            command: |
              . .tox/py37/bin/activate
              if [[ $CIRCLE_BRANCH != master && $FAKE_MASTER != true ]]; then
                  echo "Skipping creating ID set on non master branch"
                  exit 0
              fi

              cd content
              demisto-sdk create-id-set -o ./Tests/id_set.json
  create-content-artifacts:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - *restore_cache
        - run:
            name: test create content artifacts
            when: always
            command: |
              . .tox/py37/bin/activate

              if [[ $CIRCLE_BRANCH != master && $FAKE_MASTER != true ]]; then
                echo "Skipping creating content artifacts on non master branch"
                exit 0
              fi
              cd content
              mkdir ./tmp

              demisto-sdk create-content-artifacts -a ./tmp
        - store_artifacts:
            path: content/tmp
  deploy:
      docker:
        - image: python:3.8
      steps:
        - checkout
        - run:
            name: Deploy
            when: always
            command: |
              ./demisto_sdk/utils/deploy.sh
workflows:
  version: 2.1
  build_and_release:
    jobs:
      - print-env-vars:
          <<: *tag_filter
      - coveralls-check:
          <<: *tag_filter
          <<: *reqs_print_var
      - tox3-7:
          <<: *tag_filter
          <<: *reqs_print_var
      - tox3-8:
          <<: *tag_filter
          <<: *reqs_print_var
      - precommit-checks:
          <<: *tag_filter
          <<: *reqs_tox
      - validate-files:
          <<: *tag_filter
          <<: *reqs_tox
      - create-id-set:
          <<: *tag_filter
          <<: *reqs_tox
      - create-content-artifacts:
          <<: *tag_filter
          <<: *reqs_tox
      - deploy:
          <<: *tag_filter
          requires:
            - tox3-7
            - tox3-8
            - precommit-checks
            - coveralls-check
            - validate-files
            - create-id-set
            - create-content-artifacts
