### =============================================================
### This configuration file is used by CircleCI build server
### https://circleci.com/docs/config-sample
### =============================================================
version: 2
jobs:
  # using tox
  toxify:

      docker:
        - image: python:3.8

      steps:
        - checkout
        - run:
            name: Print environment variables
            command: |
              echo "Parameters: FAKE_MASTER: $FAKE_MASTER"
              echo "Parameters: CONTENT_BRANCH_NAME: $CONTENT_BRANCH_NAME"

        - run:
            name: Tox build
            command: |
              pip install tox
              tox -e py37 -v -- --cov=demisto_sdk --cov-report=html
              tox -e py38 -v
        - run:
            name: Pre-commit
            command: |
              . .tox/py37/bin/activate
              pre-commit --version
              pre-commit run -a
              deactivate
        - store_artifacts:
            path: coverage_html_report
        - run:
            name: Coveralls upload
            command: |
              if [ -n "$COVERALLS_REPO_TOKEN" ]; then
                pip install coveralls
                coveralls
              else
                echo "Skipping coveralls"
              fi
        - run:
            name: Test validate files and yaml
            when: always
            command: |
              . .tox/py37/bin/activate
              git clone https://github.com/demisto/content.git
              cd content
              git config diff.renameLimit 5000

              if [[ $CIRCLE_BRANCH != master && $FAKE_MASTER != true && -z "${CONTENT_BRANCH_NAME}" ]]; then
                demisto-sdk validate -i Packs/dnstwist
                exit 0
              fi

              if [ -n "${CONTENT_BRANCH_NAME}" ]; then
                git checkout ${CONTENT_BRANCH_NAME}
              fi

              if [[ $FAKE_MASTER = true ]]; then
                export CIRCLE_BRANCH="master"
              fi

              python3 ./Tests/scripts/update_conf_json.py
              ./Tests/scripts/validate.sh
        - run:
            name: Test create ID set
            when: always
            command: |
              . .tox/py37/bin/activate
              if [[ $CIRCLE_BRANCH != master && $FAKE_MASTER != true ]]; then
                  echo "Skipping creating ID set on non master branch"
                  exit 0
              fi

              cd content
              demisto-sdk create-id-set -o ./Tests/id_set.json
        - run:
            name: test create content artifacts
            when: always
            command: |
              . .tox/py37/bin/activate

              if [[ $CIRCLE_BRANCH != master && $FAKE_MASTER != true ]]; then
                echo "Skipping creating content artifacts on non master branch"
                exit 0
              fi
              cd content
              mkdir ./tmp

              demisto-sdk create-content-artifacts -a ./tmp
        - store_artifacts:
            path: content/tmp
        - run:
            name: Deploy
            when: always
            command: |
              ./demisto_sdk/utils/deploy.sh
workflows:
  version: 2
  build_and_release:
    jobs:
      - toxify:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/
