ignorable_errors = [
  "BA101",
  "BA105",
  "BA106",
  "BA116",
  "BA118",
  "DO104",
  "IN108",
  "IN130",
  "PA107",
  "PA108",
  "PA111",
  "PA115",
  "PA128",
  "PA130",
  "RP101"
]

[Custom_Categories]
select = []
warning = []

[path_based_validations]
select = [
  "BA101",
  "BA105",
  "BA106",
  "BA116",
  "BA118",
  "DO104",
  "IN108",
  "IN130",
  "PA107",
  "PA108",
  "PA111",
  "PA115",
  "PA128",
  "PA130",
  "RP101"
]
warning = []

[use_git]
select = [
  "BA101",
  "BA105",
  "BA106",
  "BA116",
  "BA118",
  "DO104",
  "IN108",
  "IN130",
  "PA107",
  "PA108",
  "PA111",
  "PA115",
  "PA128",
  "PA130",
  "RP101"
]
warning = []

[xsoar_best_practices_path_based_validations]
select = [
  "IN100",
  "IN102",
  "IN104",
  "IN106",
  "IN107",
  "IN108",
  "IN109",
  "IN110",
  "IN112",
  "IN113",
  "IN114",
  "IN121",
  "IN122",
  "IN123",
  "IN125",
  "IN126",
  "IN127",
  "IN130",
  "IN131",
  "IN134",
  "IN135",
  "IN139",
  "IN141",
  "IN142",
  "IN144",
  "IN145",
  "IN146",
  "IN149",
  "IN151",
  "IN152",
  "IN153",
  "IN154",
  "IN156",
  "IN158",
  "IN159",
  "IN160",
  "IN161",
  "IN162",
  "BA100",
  "BA101",
  "BA105",
  "BA106",
  "BA110",
  "BA111",
  "BA116",
  "BA118",
  "BA126",
  "GR106",
  "PA100",
  "PA101",
  "PA102",
  "PA103",
  "PA104",
  "PA105",
  "PA107",
  "PA108",
  "PA109",
  "PA111",
  "PA113",
  "PA115",
  "PA117",
  "PA118",
  "PA119",
  "PA120",
  "PA121",
  "PA123",
  "PA125",
  "PA127",
  "PA130",
  "PA131",
  "PA132",
  "DO100",
  "DO101",
  "DO102",
  "DO103",
  "DO104",
  "SC100",
  "SC105",
  "SC106",
  "RM104",
  "RM105",
  "RM113",
  "RM114",
  "CL100",
  "GF100",
  "GF101",
  "IF100",
  "IF101",
  "IF102",
  "IF103",
  "IF104",
  "IF105",
  "IF106",
  "IM101",
  "IM108",
  "RP101"
]
warning = []

[xsoar_best_practices_use_git]
select = [
  "BA100",
  "BA101",
  "BA105",
  "BA106",
  "BA110",
  "BA111",
  "BA116",
  "BA118",
  "BA124",
  "BA126",
  "PA100",
  "PA101",
  "PA102",
  "PA103",
  "PA104",
  "PA105",
  "PA107",
  "PA108",
  "PA109",
  "PA111",
  "PA113",
  "PA115",
  "PA117",
  "PA118",
  "PA119",
  "PA120",
  "PA121",
  "PA123",
  "PA125",
  "PA127",
  "PA128",
  "PA130",
  "PA131",
  "PA132",
  "BC100",
  "BC105",
  "BC108",
  "GR106",
  "IN100",
  "IN102",
  "IN104",
  "IN106",
  "IN107",
  "IN108",
  "IN109",
  "IN110",
  "IN112",
  "IN113",
  "IN114",
  "IN115",
  "IN117",
  "IN118",
  "IN121",
  "IN122",
  "IN123",
  "IN124",
  "IN125",
  "IN126",
  "IN127",
  "IN130",
  "IN131",
  "IN134",
  "IN135",
  "IN139",
  "IN141",
  "IN142",
  "IN144",
  "IN145",
  "IN146",
  "IN149",
  "IN151",
  "IN152",
  "IN153",
  "IN154",
  "IN156",
  "IN158",
  "IN159",
  "IN160",
  "IN161",
  "IN162",
  "PB118",
  "DO100",
  "DO101",
  "DO102",
  "DO103",
  "DO104",
  "DO106",
  "SC100",
  "SC105",
  "SC106",
  "RM104",
  "RM105",
  "RM113",
  "RM114",
  "CL100",
  "GF100",
  "GF101",
  "GR104",
  "IF100",
  "IF101",
  "IF102",
  "IF103",
  "IF104",
  "IF105",
  "IF106",
  "IM100",
  "IM101",
  "IM108",
  "IM109",
  "RP101"
]
warning = []
