[use_git]
select = [
    "DO109"
]
warning = []
ignorable_errors = ["BA101", "BA116"]

[validate_all]
select = [
    "BA101", "BA106", "BA116", "BA118",
    "GR106",
    "DO108",
    "IN108",
    "IN130",
    "PA108"
]
warning = []
ignorable_errors = ["BA101", "BA116"]

[Custom_Categories]
select = []
warning = []
ignorable_errors = []


[support_level]

[support_level.community]
ignore = []

[support_level.partner]
ignore = []
