[use_git]
select = ["BA101", "PA108", "BC100", "GR106"]
warning = []
ignorable_errors = []

[validate_all]
select = ["BA101", "PA108", "GR106"]
warning = []
ignorable_errors = ["BA101"]

[Custom_Categories]
select = []
warning = []
ignorable_errors = []


[support_level]

[support_level.community]
ignore = []

[support_level.partner]
ignore = []
