id: sample playbook
version: -1
name: sample playbook
description: Sample playbook for testing
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 7ce1bd8c-871a-488d-8b08-2f76ee620d7b
    type: start
    task:
      id: 7ce1bd8c-871a-488d-8b08-2f76ee620d7b
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 6bd0982d-50e0-4bc4-882a-f6fb14fd4db0
    type: regular
    task:
      id: 6bd0982d-50e0-4bc4-882a-f6fb14fd4db0
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 240,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
fromversion: 5.0.0
tests:
- No tests
