<!DOCTYPE html>
<html>
<head>
    <link href="https://unpkg.com/tabulator-tables@4.3.0/dist/css/tabulator_site.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.3.0/dist/js/tabulator.min.js"></script>
</head>
<body>
<div id="report-table"></div>
<script>
    //define some sample data
    var tabledata = {{ pkgs_status }};
    //create Tabulator on DOM element with id "example-table"
    var table = new Tabulator("#report-table", {
        data: tabledata,           //load row data from array
        height: "100%",
        layout: "fitColumns",
        pagination: "local",
        paginationSize: 10,
        movableColumns: true,
        responsiveLayout: "collapse",
        responsiveLayoutCollapseStartOpen: false,
        columns: [
            {title: "Package", field: "pkg", width: 250, frozen: true, headerFilter: "input", sorter: "string", width: "33%"},
            {title: "Status", field: "exit_code", align: "center", formatter: "tickCross", sorter: "boolean", width: "33%"},
            {title: "Path", field: "path", width: "30%"},
            {title: "", formatter:"responsiveCollapse", headerSort:false},
            {title: "Flake8", field: "flake8_errors", formatter:"responsiveCollapse", headerSort:false},
            {title: "Bandit", field: "bandit_errors", formatter:"responsiveCollapse", headerSort:false},
            {title: "Mypy", field: "mypy_errors", formatter:"responsiveCollapse", headerSort:false},
            {title: "Images", field: "images", formatter:"responsiveCollapse", headerSort:false},
        ],
    });
</script>
</body>
</html>
