name: Test content infrastracture with current SDK branch
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout SDK
        uses: actions/checkout@v3

      - name:  Get commit hash
        id: get-commit
        run: echo commit=$(git rev-parse HEAD) >> $GITHUB_OUTPUT

      - name: Checkout content
        uses: actions/checkout@v3
        with:
          repository: demisto/content
          path: content

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Setup Poetry
        uses: Gr1N/setup-poetry@v8

      - name: Install content
        run: |
          cd content
          poetry install --with ci

      - name: Uninstall content version of SDK
        run: |
          cd content
          poetry run pip uninstall demisto-sdk -y

      - name: Install current SDK branch
        run: |
          cd content
          poetry run pip install git+https://github.com/demisto/demisto-sdk@${{ steps.get-commit.outputs.commit }}

      - name: Run content unit tests
        env:
          PYTHONPATH: ${{ github.workspace }}/content
        run: |
          cd content
          poetry run pytest ./Tests/scripts/infrastructure_tests/ -v
          poetry run pytest ./Tests/Marketplace/Tests/ -v
          poetry run pytest ./Tests/tests -v
          poetry run pytest ./Tests/private_build/tests -v
          poetry run pytest Utils -v
