name: SDK Release
on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'The PR number'
        required: true
        type: string
      pr_title:
        description: 'The PR title'
        required: true
        type: string
      branch_name:
        description: 'The branch name'
        required: true
        type: string

jobs:
  SDK-Release:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Poetry
        uses: Gr1N/setup-poetry@v9

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ inputs.branch_name }}

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: poetry install

      - name: Releasing
        env:
          PR_NUMBER: ${{ inputs.pr_number }}
          PR_TITLE: ${{ inputs.pr_title }}
          BRANCH_NAME: ${{ inputs.branch_name }}
        run: |
          echo "run releasing for PR: $PR_NUMBER with Name: $PR_TITLE"
          poetry run python ./demisto_sdk/scripts/changelog/changelog.py --release -n "$PR_NUMBER" -t "$PR_TITLE" -bn "$BRANCH_NAME"
