name: Test Demisto-SDK pre-commit
on:
  pull_request:


jobs:
  test-pre-commit:
    runs-on: ubuntu-latest

    steps:
    - name: Install poetry
      run: pipx install poetry

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'poetry'

    - name: Install dependencies
      run: poetry install

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        repository: demisto/content
        path: content


    - name: Cache Pre commit
      id: cache-pre-commit
      uses: actions/cache@v3
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit

    - name: run pre-commit on changed files
      continue-on-error: true
      run: |
        source $(poetry env info --path)/bin/activate
        cd content
        echo "# test" >> Packs/HelloWorld/Integrations/HelloWorld/HelloWorld.yml
        echo "# test" >> Packs/CortexXDR/Integrations/CortexXDRIR/CortexXDRIR.yml
        echo "# test" >> Packs/QRadar/Integrations/QRadar_v3/QRadar_v3.yml
        echo "# test" >> Tests/collect_tests.py
        git add .
        npm install --no-fund --no-audit
        demisto-sdk pre-commit --unit-test --format --validate --show-diff-on-failure --verbose --sdk-ref ${{ github.event.pull_request.head.sha }}

    - name: run pre-commit on input files
      continue-on-error: true
      run: |
        source $(poetry env info --path)/bin/activate
        cd content
        npm install --no-fund --no-audit
        demisto-sdk pre-commit --unit-test --format --validate --show-diff-on-failure --verbose --sdk-ref ${{ github.event.pull_request.head.sha }} -i Packs/HelloWorld,Packs/QRadar/Integrations/QRadar_v3
