name: Validate Changelog
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Find changed files that require changelog update
        uses: tj-actions/changed-files@v38.1.3
        id: need-changelog
        with:
          files: |
            **/*.py
            pyproject.toml

      - name: Check whether CHANGELOG.md has been modified
        uses: tj-actions/changed-files@v38.1.3
        id: changelog-status
        with:
          files: CHANGELOG.md

      - name: Missing CHANGELOG.md update
        if: |
          steps.need-changelog.outputs.any_changed == 'true' &&
          steps.changelog-status.outputs.any_modified == 'false'
        uses: actions/github-script@v6
        with:
          script: core.setFailed("The PR includes a change of a file that requires a CHANGELOG.md update, but the changelog was not modified.")
