name: validate-changelog
on: pull_request

jobs:
  validate-changelog:
    runs-on: ubuntu-latest
    if: github.repository == 'demisto/demisto-sdk'
    steps:

      - name: Setup Poetry
        uses: Gr1N/setup-poetry@v8

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: poetry install

      - name: Validate Changelog
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          echo "Run validate changelog for PR: $PR_NUMBER with Name: $PR_NAME"
          poetry run python ./Utils/github_workflow_scripts/changelog_validation_scripts/validate_changelog.py -n "$PR_NUMBER" -t "$PR_TITLE"
